* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-image: linear-gradient(to right bottom, #55d7e5, #9f01ea);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.charts {
  display: flex;
}

.report-container {
  padding: 30px 20px 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.report-container .avatar {
  margin-bottom: 20px;
}

.report-container .avatar img {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
}

.form-group .ant-input-number {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 12px;
  border: none;
  background-color: #fff;
}

.report-container .submit {
  margin: 0 auto;
}

.chart-container {
  margin: 50px auto 0;
  width: 800px;
}